html{
background: #fff;
min-width: 950px;
}
body{
width: 100%;
margin: 0px;
position: relative;
padding-top: 60px;
padding-bottom: 30px;
}
.starter-template {
  padding: 5px 5px;
  text-align: center;
}
.header{
  background: #0071a8;
  width: 100%;
  height: 60px; 
  border-bottom: 2px solid black;
  text-align: center;
  padding-top: 5px;
  font-size: 40px;
  font-family: Arial;
  color: white; 
}

.author{
  font-size: 25px;
  padding: 50px 5px 60px 20px;
}
.author1{
  width: 200px;	
  margin: 10px 40px 40px 15px;
  float: left;
}
.author_title{
  font-weight: 600;
  font-size: 25px;
}

.empty{
  border-collapse: collapse;
  border: 0 !important;
  height: 10px !important;
}


.footer{
  background: #0071a8;
  position: fixed;
  min-width: 330px;
  width: 100%;
  height: 25px;
  margin-top: 20px;
  bottom: 0;
  padding: 4px 0px 8px 10px;
  border-top: 2px solid grey;
  font-size: 18px;
  font-family: Arial;
}
.footer_p{
  float: right;
  margin: 0;
  padding-right: 10px;
}
#wrap{
  display: none;
  opacity: 0.8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(1, 1, 1, 0.725);
  z-index: 100;
  overflow: auto;
}
  
#window{
  width: 400px;
  height: 400px;
  margin: 50px auto;
  display: none;
  background: #fff;
  z-index: 200;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
}
 


