#navbar-iframe {
    display: none;
    height: 0px;
    visibility: hidden;
}
.noprint {
    display: none;
}
body {
    background:#FFF;
    color:#000;}
a {
    text-decoration:
    underline; color:#00F;
}